.idea
logs
target/classes/network
target/generated-sources
target/generated-test-sources
target/test-classes
target/maven-archiver
target/maven-status
target/surefire
target/surefire-reports
target/genaro-sdk-0.1.jar
.classpath
.factorypath
.project
.settings
Todo
genaro-sdk-0.1.jar
genaro-sdk-0.1-pkg.jar
genaro-sdk-0.1-pkg
genaro-sdk.iml
dependency-reduced-pom.xml
